.title{
    text-align: center;
    color: var(--third-color);
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-block: 70px 30px;
    margin-inline: 0;
}

.title h2{
    font-size: 2.5rem;
    color: var(--second-color);
    margin-top: 5px;
    text-transform: none;
}