nav {
  width: 100%;
  color: var(--black-);
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  transition: 0.5s ease;
  background: var(--white);
}

.logo {
  width: 100px;
}

nav ul li {
  display: inline-block;
  margin: 5px 20px;
  font-size: 16px;
}

.menu-icon {
  display: none;
}

/* media query */

@media (max-width: 1000px) {
  .logo {
    width: 100px;
  }

  nav ul li {
    margin: 5px 10px;
  }
}

@media (max-width: 840px) {
  nav {
    padding: 15px 0;
  }
  nav ul {
    color: var(--white);
    position: fixed;
    top: 0;
    bottom: 0;
    right: -300px;
    background: var(--first-color);
    z-index: -1;
    width: 300px;
    padding-top: 70px;
    clip-path: circle(0.4% at 100% 0);
    transition: 0.5s ease;
  }

  nav ul li {
    display: block;
    margin: 25px 40px;
    transition: 0.5s ease;
    position: relative;
  }

  nav ul li:not(:last-child)::after {
    content: "";
    position: absolute;
    left: -8px;
    bottom: 2px;
    width: 0;
    height: 15px;
    background: var(--white);
    transition: 0.5s ease;
  }

  nav ul li:hover {
    transform: translateX(10px);
  }

  nav ul li:hover::after {
    width: 3px;
  }

  .menu-icon {
    display: block;
    font-size: 35px;
    cursor: pointer;
    z-index: 7;
  }
  .active {
    right: 0;
    z-index: 1;
    clip-path: circle(141.2% at 100% 0);
  }
}
